@import './globals'

@import 'bulma/bulma'

@import './_colors'

html
  --scroll-behavior: smooth !important
  scroll-behavior: smooth !important

html,
body
  padding: 0 !important
  margin: 0 !important
  overflow-x: hidden

.loader
  @include loader
